@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
  background-color: #161719;
  color: white;
  font-family: Poppins, sans-serif;
}

html, body {
  height: 100%;
}

body {
  margin: 0;

}

.custom-border {
  border: .5px solid #424242;
}