<section class="my-12 mx-0 flex flex-col items-center justify-center" id="about">
    <div class="w-1000">
        <header>
            <h3 class="text-[15px] text-[#5a8bd5] m-0 font-semibold">SOBRE MÍ</h3>
            <h2 class="mb-0" style={{display: "block", fontSize: "1.5em", fontWeight: "bold", marginBlockStart: "0.83em", marginBlockEnd: "0.83em", marginInlineStart: "0px", marginInlineEnd: "0px", unicodeBidi: "isolate"}}>Josue Salazar</h2>
        </header>
        <div class="grid grid-cols-2 gap-10">
            <div>
                <p class="text-[#cbcaca] font-light" style={{display: "block", marginBlockStart: "1em", marginBlockEnd: "1em", marginInlineStart: "0px", marginInlineEnd: "0px", unicodeBidi: "isolate"}}> 
                    Desarrollador de software especializado en aplicaciones web Full Stack con Next.js, Express.js, Flask y Postgresql. 
                </p>
                <p class="text-[#cbcaca] font-light" style={{display: "block", marginBlockStart: "1em", marginBlockEnd: "1em", marginInlineStart: "0px", marginInlineEnd: "0px", unicodeBidi: "isolate"}}> 
                    Administrador de servidores Ubuntu server, despliegue de aplicaciones con Docker, Nginx.
                </p>
                <p class="text-[#cbcaca] font-light" style={{display: "block", marginBlockStart: "1em", marginBlockEnd: "1em", marginInlineStart: "0px", marginInlineEnd: "0px", unicodeBidi: "isolate"}}> 
                    Actualmente tengo 19 años y cuento con 1 año de experiencia laboral en desarrollo web. 
                </p>
            </div>
            <div class="flex flex-col gap-5">
                <div class="bg-[#dbe0e409] custom-border border-[#373839] p-5 rounded-xl h-fit">
                    <h3 class="text-white text-[17px] mb-[10px]">Técnico Superior en Computación e Informática</h3>
                    <p class="m-0 text-[#c0bdbd] text-[13px]">
                        Graduado del INSTITUTO SUPERIOR TECNOLOGICO - JOSE PARDO.
                    </p>
                    <p class="mt-5 text-[#aba9a9] text-[11px]"> 
                        - 29 de de diciembre del 2023
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>