<section class="my-12 flex flex-col items-center justify-center" id="certifications">
    <div class="w-1000">
        <header>
            <h3 class="text-[15px] text-[#5a8bd5] font-semibold m-0 text-balance">CERTIFICACIONES</h3>
        </header>
        <div class="grid grid-cols-2 mt-[30px] gap-[15px]">

            <div class="flex flex-col items-start bg-[#dbe0e409] custom-border border-[#373839] py-[15px] px-[20px] rounded-xl box-border">
                <h3 class="font-medium">Microservicios, Docker & Kubernetes</h3>
                <a class="no-underline text-pretty" href="https://www.udemy.com/certificate/UC-230a6383-8f1e-4fca-8f6b-b405f0f3fc8c/" target="_blank" rel="noopener">
                    <p class="font-light text-[15px]">
                        Certificado de aprobación de 'Microservicios, Docker & Kubernetes'
                        <img class="w-3 h-3 inline-block" src="https://diegoinost.dev/assets/svg/shared/arrow-up-right-square.svg" alt="open">
                    </p>
                </a>
            </div>

            <div class="flex flex-col items-start bg-[#dbe0e409] custom-border border-[#373839] py-[15px] px-[20px] rounded-xl box-border">
                <h3 class="font-medium">Java Spring Framework</h3>
                <a class="no-underline text-pretty" href="https://www.udemy.com/certificate/UC-230a6383-8f1e-4fca-8f6b-b405f0f3fc8c/" target="_blank" rel="noopener">
                    <p class="font-light text-[15px]">
                        Certificado de aprobación de 'Microservicios, Docker & Kubernetes'
                        <img class="w-3 h-3 inline-block" src="https://diegoinost.dev/assets/svg/shared/arrow-up-right-square.svg" alt="open">
                    </p>
                </a>
            </div>

            <div class="flex flex-col items-start bg-[#dbe0e409] custom-border border-[#373839] py-[15px] px-[20px] rounded-xl box-border">
                <h3 class="font-medium">Java Spring Security</h3>
                <a class="no-underline text-pretty" href="https://www.udemy.com/certificate/UC-230a6383-8f1e-4fca-8f6b-b405f0f3fc8c/" target="_blank" rel="noopener">
                    <p class="font-light text-[15px]">
                        Certificado de aprobación de 'Microservicios, Docker & Kubernetes'
                        <img class="w-3 h-3 inline-block" src="https://diegoinost.dev/assets/svg/shared/arrow-up-right-square.svg" alt="open">
                    </p>
                </a>
            </div>

            <div class="flex flex-col items-start bg-[#dbe0e409] custom-border border-[#373839] py-[15px] px-[20px] rounded-xl box-border">
                <h3 class="font-medium">Java Spring Data JPA</h3>
                <a class="no-underline text-pretty" href="https://www.udemy.com/certificate/UC-230a6383-8f1e-4fca-8f6b-b405f0f3fc8c/" target="_blank" rel="noopener">
                    <p class="font-light text-[15px]">
                        Certificado de aprobación de 'Microservicios, Docker & Kubernetes'
                        <img class="w-3 h-3 inline-block" src="https://diegoinost.dev/assets/svg/shared/arrow-up-right-square.svg" alt="open">
                    </p>
                </a>
            </div>

            <div class="flex flex-col items-start bg-[#dbe0e409] custom-border border-[#373839] py-[15px] px-[20px] rounded-xl box-border">
                <h3 class="font-medium">Autenticación con Angular</h3>
                <a class="no-underline text-pretty" href="https://www.udemy.com/certificate/UC-230a6383-8f1e-4fca-8f6b-b405f0f3fc8c/" target="_blank" rel="noopener">
                    <p class="font-light text-[15px]">
                        Certificado de aprobación de 'Microservicios, Docker & Kubernetes'
                        <img class="w-3 h-3 inline-block" src="https://diegoinost.dev/assets/svg/shared/arrow-up-right-square.svg" alt="open">
                    </p>
                </a>
            </div>

            <div class="flex flex-col items-start bg-[#dbe0e409] custom-border border-[#373839] py-[15px] px-[20px] rounded-xl box-border">
                <h3 class="font-medium">Maquetación Angular</h3>
                <a class="no-underline text-pretty" href="https://www.udemy.com/certificate/UC-230a6383-8f1e-4fca-8f6b-b405f0f3fc8c/" target="_blank" rel="noopener">
                    <p class="font-light text-[15px]">
                        Certificado de aprobación de 'Microservicios, Docker & Kubernetes'
                        <img class="w-3 h-3 inline-block" src="https://diegoinost.dev/assets/svg/shared/arrow-up-right-square.svg" alt="open">
                    </p>
                </a>
            </div>


        </div>
    </div>
</section>

<style>
    h3 {
        display: block;
        font-size: 1.17em;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        unicode-bidi: isolate;
    }
    p {
        opacity: .7;
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        unicode-bidi: isolate;
        margin: 0 0 10px;
    }    
</style>