<footer class="border border-[#202020] flex items-center justify-center w-full" id="footer">
    <div class="flex items-center justify-around w-[960px] py-10 px-0">
        <div class="flex flex-col items-baseline justify-center gap-2">
            <a class="hidden no-underline"href="https://librecounter.org/referer/show" target="_blank" rel="noopener">
                <img src="./Diego _ Software Developer_files/counter.svg" referrerpolicy="unsafe-url" class="analitics">
            </a>
            <a class="text-white flex items-center gap-1" style="opacity: .7" href="mailto:diegoinostroza00@gmail.com">
                <img id="email" src="https://diegoinost.dev/assets/svg/footer/mail.svg" alt="github" class="h-5"> 
                Contacto 
            </a>
            <p>Developed by Josue Salazar</p>
        </div>
        <ul class="flex items-center justify-center gap-10">
            <li class="list-none list-item" style="opacity: .3; transition: transform .3s ease;">
                <a class="no-underline" href="https://www.linkedin.com/in/diego-inostroza/" target="_blank" rel="noopener">
                    <img class="h-6 grayscale" id="linkedin" src="https://diegoinost.dev/assets/svg/footer/linkedin.svg" alt="linkedin">
                </a>
            </li>
            <li class="list-none list-item" style="opacity: .3; transition: transform .3s ease;">
                <a href="https://github.com/diegoinost02" target="_blank" rel="noopener">
                    <img  class="h-7 grayscale" id="github" src="https://diegoinost.dev/assets/svg/footer/github.svg" alt="github">
                </a>
            </li>
            <li class="list-none list-item" style="opacity: .3; transition: transform .3s ease;">
                <a href="https://discordapp.com/users/337309751077502979" target="_blank" rel="noopener">
                    <img  class="h-6 grayscale" id="discord" src="https://diegoinost.dev/assets/svg/footer/discord.svg" alt="discord">
                </a>
            </li>
            <li class="list-none list-item" style="opacity: .3; transition: transform .3s ease;">
                <a href="https://www.instagram.com/diego.inost/" target="_blank" rel="noopener">
                    <img  class="h-6 grayscale" id="instagram" src="https://diegoinost.dev/assets/svg/footer/instagram.svg" alt="instagram">
                </a>
            </li>
        </ul>
    </div>
</footer>
<style>
    ul {
        list-style-type: disc;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
        unicode-bidi: isolate;
    }
</style>