<section class="my-12 mx-0 flex flex-row items-center justify-center mt-10" id="projects">
    <div class="w-1000">
        <header class="grid grid-cols-2">
            <div>
                <h3 class="text-[15px] m-0 text-[#5a8bd5] font-semibold">PROYECTOS</h3>
                <h2 class="text-[25px] my-3 mx-0">Mis proyectos destacados</h2>
                <div class="flex items-center justify-center rounded-3xl bg-[#252627] p-[3.5px] gap-1 custom-border">
                    <p class="text-[14px] font-extralight w-full text-center p-[2.5px] cursor-pointer text-[#e7e2e2] rounded-3xl bg-[#353535] custom-border"> Todos </p>
                    <p class="text-[14px] font-extralight w-full text-center p-[2.5px] cursor-pointer"> Full Stack </p>
                    <p class="text-[14px] font-extralight w-full text-center p-[2.5px] cursor-pointer"> Frontend </p>
                    <p class="text-[14px] font-extralight w-full text-center p-[2.5px] cursor-pointer"> Backend </p>
                </div>
            </div>
        </header>

        <div class="mt-20 mb-16 pb-16 grid grid-cols-2 gap-10 border-b-[1px] border-[#272829]">
            <div class="info">
                <header class="grid grid-cols-2">
                    <h3 class="text-[15px] m-0 text-[#5a8bd5] font-semibold">FULL STACK</h3>
                </header>
                <div class="text">
                    <h2 class="text-[25px] my-4 mx-0">Organizer</h2>
                    <p class="my-4 mx-0 text-[#c0bdbd] font-light"> Organizer es una aplicación de gestión y organización de tareas y notas. </p>
                    <p class="my-4 mx-0 text-[#c0bdbd] font-light"> Te permite crear carpetas y notas personalizadas para organizarte de manera eficiente. </p>
                </div>

                <div class="flex gap-4 my-5 mx-0">
                    <a class="flex items-center justify-center gap-1 text-center w-full py-2 px-0 rounded-xl bg-[#272829] text-[14px] cursor-pointer text-[#c7c7c7] custom-border no-underline" href="https://organizer-eta.vercel.app/" target="_blank">
                        <img class="opacity-[.5] h-4 w-4" src="/svg/shared/visit.svg" alt="visit" /> 
                        Visitar
                    </a>
                    <a class="flex items-center justify-center gap-1 text-center w-full py-2 px-0 rounded-xl bg-[#272829] text-[14px] cursor-pointer text-[#c7c7c7] custom-border no-underline" href="https://github.com/josueJDK/angular-organizer" target="_blank">
                        <img class="opacity-[.5] h-4 w-4" src="/svg/shared/github.svg" alt="github"  /> 
                        Frontend 
                    </a>
                    <a class="flex items-center justify-center gap-1 text-center w-full py-2 px-0 rounded-xl bg-[#272829] text-[14px] cursor-pointer text-[#c7c7c7] custom-border no-underline" href="https://github.com/josueJDK/springboot-organizer" target="_blank">
                        <img class="opacity-[.5] h-4 w-4"src="/svg/shared/github.svg" alt="github"  /> 
                        Backend 
                    </a>
                    <a class="flex items-center justify-center gap-1 text-center w-full py-2 px-0 rounded-xl bg-[#272829] text-[14px] cursor-pointer text-[#c7c7c7] custom-border no-underline">
                        <img class="opacity-[.5] h-4 w-4" src="/svg/shared/video.svg" alt="play" />
                        Video 
                    </a>
                </div>
                <div class="flex gap-6 text-[11px] my-3 mx-0 bg-[#1c1d1d] text-[#bfbbbba6] rounded-[30px] w-fit py-0 px-5 border-b-[1px] border-[#28292a]">
                    <p class="my-3 mx-0 text-[#c0bdbd]">Angular</p>
                    <p class="my-3 mx-0 text-[#c0bdbd]">Java</p>
                    <p class="my-3 mx-0 text-[#c0bdbd]">Spring Boot</p>
                    <p class="my-3 mx-0 text-[#c0bdbd]">Spring Security</p>
                    <p class="my-3 mx-0 text-[#c0bdbd]">MySQL</p>
                </div>
            </div>
            <div class="rounded-2xl bg-[#dbe0e409] h-fit p-2 flex flex-col items-center justify-center gap-1">
                <img  class="w-full rounded-xl" src="https://diegoinost.dev/assets/images/organizer/organizer.webp" alt="organizer"/>
            </div>
        </div>

        <div class="mt-20 mb-16 pb-16 grid grid-cols-2 gap-10 border-b-[1px] border-[#272829]">
            <div class="info order-2">
                <header class="grid grid-cols-2">
                    <h3 class="text-[15px] m-0 text-[#5a8bd5] font-semibold">FULL STACK</h3>
                </header>
                <div class="text">
                    <h2 class="text-[25px] my-4 mx-0">Organizer</h2>
                    <p class="my-4 mx-0 text-[#c0bdbd] font-light"> Organizer es una aplicación de gestión y organización de tareas y notas. </p>
                    <p class="my-4 mx-0 text-[#c0bdbd] font-light"> Te permite crear carpetas y notas personalizadas para organizarte de manera eficiente. </p>
                </div>

                <div class="flex gap-4 my-5 mx-0">
                    <a class="flex items-center justify-center gap-1 text-center w-full py-2 px-0 rounded-xl bg-[#272829] text-[14px] cursor-pointer text-[#c7c7c7] custom-border no-underline" href="https://organizer-eta.vercel.app/" target="_blank">
                        <img class="opacity-[.5] h-4 w-4" src="/svg/shared/visit.svg" alt="visit" /> 
                        Visitar
                    </a>
                    <a class="flex items-center justify-center gap-1 text-center w-full py-2 px-0 rounded-xl bg-[#272829] text-[14px] cursor-pointer text-[#c7c7c7] custom-border no-underline" href="https://github.com/josueJDK/angular-organizer" target="_blank">
                        <img class="opacity-[.5] h-4 w-4" src="/svg/shared/github.svg" alt="github"  /> 
                        Frontend 
                    </a>
                    <a class="flex items-center justify-center gap-1 text-center w-full py-2 px-0 rounded-xl bg-[#272829] text-[14px] cursor-pointer text-[#c7c7c7] custom-border no-underline" href="https://github.com/josueJDK/springboot-organizer" target="_blank">
                        <img class="opacity-[.5] h-4 w-4"src="/svg/shared/github.svg" alt="github"  /> 
                        Backend 
                    </a>
                    <a class="flex items-center justify-center gap-1 text-center w-full py-2 px-0 rounded-xl bg-[#272829] text-[14px] cursor-pointer text-[#c7c7c7] custom-border no-underline">
                        <img class="opacity-[.5] h-4 w-4" src="/svg/shared/video.svg" alt="play" />
                        Video 
                    </a>
                </div>
                <div class="flex gap-6 text-[11px] my-3 mx-0 bg-[#1c1d1d] text-[#bfbbbba6] rounded-[30px] w-fit py-0 px-5 border-b-[1px] border-[#28292a]">
                    <p class="my-3 mx-0 text-[#c0bdbd]">Angular</p>
                    <p class="my-3 mx-0 text-[#c0bdbd]">Java</p>
                    <p class="my-3 mx-0 text-[#c0bdbd]">Spring Boot</p>
                    <p class="my-3 mx-0 text-[#c0bdbd]">Spring Security</p>
                    <p class="my-3 mx-0 text-[#c0bdbd]">MySQL</p>
                </div>
            </div>
            <div class="rounded-2xl bg-[#dbe0e409] h-fit p-2 flex flex-col items-center justify-center gap-1">
                <img  class="w-full rounded-xl" src="https://diegoinost.dev/assets/images/organizer/organizer.webp" alt="organizer"/>
            </div>
        </div>

    </div>
</section>