<section class="my-12 flex flex-col items-center justify-center" id="skills">
    <div class="w-1000 md:w-[80%]">
        <header>
            <h3 class="text-[15px] text-[#5a8bd5] font-semibold m-0 text-balance">SKILLS</h3>
        </header>
        <div class="grid grid-cols-4 mt-8 gap-4">
            <div class="flex items-center justify-center py-2 px-0 text-center bg-[#dbe0e409] custom-border rounded-xl box-border">
                <p class="text-[15px] text-[#dedcdc]">Next.js</p>
            </div>
            <div class="flex items-center justify-center py-2 px-0 text-center bg-[#dbe0e409] custom-border rounded-xl box-border">
                <p class="text-[15px] text-[#dedcdc]">Astro</p>
            </div>
            <div class="flex items-center justify-center py-2 px-0 text-center bg-[#dbe0e409] custom-border rounded-xl box-border">
                <p class="text-[15px] text-[#dedcdc]">React</p>
            </div>
            <div class="flex items-center justify-center py-2 px-0 text-center bg-[#dbe0e409] custom-border rounded-xl box-border">
                <p class="text-[15px] text-[#dedcdc]">TypeScript</p>
            </div>
            <div class="flex items-center justify-center py-2 px-0 text-center bg-[#dbe0e409] custom-border rounded-xl box-border">
                <p class="text-[15px] text-[#dedcdc]">HTML</p>
            </div>
            <div class="flex items-center justify-center py-2 px-0 text-center bg-[#dbe0e409] custom-border rounded-xl box-border">
                <p class="text-[15px] text-[#dedcdc]">CSS</p>
            </div>
            <div class="flex items-center justify-center py-2 px-0 text-center bg-[#dbe0e409] custom-border rounded-xl box-border">
                <p class="text-[15px] text-[#dedcdc]">Python</p>
            </div>
            <div class="flex items-center justify-center py-2 px-0 text-center bg-[#dbe0e409] custom-border rounded-xl box-border">
                <p class="text-[15px] text-[#dedcdc]">Flask</p>
            </div>
            <div class="flex items-center justify-center py-2 px-0 text-center bg-[#dbe0e409] custom-border rounded-xl box-border">
                <p class="text-[15px] text-[#dedcdc]">Parquet</p>
            </div>
            <div class="flex items-center justify-center py-2 px-0 text-center bg-[#dbe0e409] custom-border rounded-xl box-border">
                <p class="text-[15px] text-[#dedcdc]">Big Data</p>
            </div>      
            <div class="flex items-center justify-center py-2 px-0 text-center bg-[#dbe0e409] custom-border rounded-xl box-border">
                <p class="text-[15px] text-[#dedcdc]">FastApi</p>
            </div>
            <div class="flex items-center justify-center py-2 px-0 text-center bg-[#dbe0e409] custom-border rounded-xl box-border">
                <p class="text-[15px] text-[#dedcdc]">Geoserver</p>
            </div>
            <div class="flex items-center justify-center py-2 px-0 text-center bg-[#dbe0e409] custom-border rounded-xl box-border">
                <p class="text-[15px] text-[#dedcdc]">Martin Server</p>
            </div>
            <div class="flex items-center justify-center py-2 px-0 text-center bg-[#dbe0e409] custom-border rounded-xl box-border">
                <p class="text-[15px] text-[#dedcdc]">Docker</p>
            </div>
            <div class="flex items-center justify-center py-2 px-0 text-center bg-[#dbe0e409] custom-border rounded-xl box-border">
                <p class="text-[15px] text-[#dedcdc]">Ubuntu Server</p>
            </div>
            <div class="flex items-center justify-center py-2 px-0 text-center bg-[#dbe0e409] custom-border rounded-xl box-border">
                <p class="text-[15px] text-[#dedcdc]">Maplibre</p>
            </div>
            <div class="flex items-center justify-center py-2 px-0 text-center bg-[#dbe0e409] custom-border rounded-xl box-border">
                <p class="text-[15px] text-[#dedcdc]">Leaflet</p>
            </div>
            <div class="flex items-center justify-center py-2 px-0 text-center bg-[#dbe0e409] custom-border rounded-xl box-border">
                <p class="text-[15px] text-[#dedcdc]">JavaScript</p>
            </div>
            <div class="flex items-center justify-center py-2 px-0 text-center bg-[#dbe0e409] custom-border rounded-xl box-border">
                <p class="text-[15px] text-[#dedcdc]">Postgresql</p>
            </div>
            <div class="flex items-center justify-center py-2 px-0 text-center bg-[#dbe0e409] custom-border rounded-xl box-border">
                <p class="text-[15px] text-[#dedcdc]">Git</p>
            </div>      
        </div>
    </div>
</section>

<style>
    p {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        unicode-bidi: isolate;
    }
</style>